<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <form action="/corraCal" method="POST">
      <label> From time period <u><%- from %></u> </label>
      <label> to <u><%- to %></u> <b>CORRA rates</b> are as follows: </label>
        <br>
        <label> Average value is <%- average %> </label>
        <br>
        <label> Highest value is <%- high %> </label>
        <br>
        <label> Lowest value is <%- low %> </label>
        
    </form>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>